@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  /* border: 0; */
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;

}

html {
  font-size: 0.85rem;
}

body {
  background-color: white;
  color: black;
  font-family: poppins, sans-serif;
  height: auto;
  font-size: 0.88rem;
}

/* img{
  width: 100%;
  display: block;
} */
.header {
  display: flex;
  padding: 1rem 1rem;
  position: fixed;
  background-color: white;
  width: 500rem;
}

.bi-list {
  font-size: 2rem;
  cursor: pointer;
  padding-left: 3rem;
}

.bi-list:hover {
  height: 40px;
  width: 40px;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  background-color: #eee;
  border-radius: 90px;
  cursor: pointer;
}

.bi-youtube {
  font-size: 2rem;
  width: 2.5rem;
  height: 1.8rem;
  text-align: center;
  margin-left: 2rem;
  font-weight: 500;
  cursor: pointer;
  color: red;
}

.header h3 {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  padding-right: 25rem;
  font-size: 1.5rem;
}

.search input {
  background-color: white;
  border: 1px solid rgb(218, 216, 216);
  width: 550px;
  height: 45px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 1rem;

}

.search i {
  background-color: #f6f2f2;
  border: 1px solid rgb(218, 216, 216);
  font-size: 1.5rem;
  padding: 0.51rem 2rem 1.01rem 1rem;
  margin-left: -0.9rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.bi-mic-fill {
  font-size: 1.5rem;
  margin-left: 1rem;
  height: 40px;
  width: 40px;
  padding: 1rem 1rem 1rem 0.8rem;
  background-color: #eee;
  border-radius: 50px;
  cursor: pointer;
}

.bi-camera-video {
  font-size: 1.2rem;
  padding: 1rem 2rem 1rem 8rem;
  cursor: pointer;
}

.bi-bell {
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem 0;
  cursor: pointer;
}

.header img {
  pad: 1rem 1rem 1rem 1rem;
  height: 3rem;
  width: 3rem;

}

.container1{
  display: block;
  padding: 5rem 5rem 5rem 0rem;
  position: fixed;
  
}

.house {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  border-radius: 10px;
  height: 45px;
  width: 200px;
  gap: 1rem;
  font-size: 1.5rem;
}

.house:hover {
  border-radius: 10px;
  height: 45px;
  width: 200px;
  margin-left: 2rem;
  background-color: #eee;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 1rem; */
  border-radius: 10px;
  height: 45px;
  width: 200px;
  gap: 1rem;
  font-size: 1.5rem;

}

.link:hover {
  border-radius: 10px;
  height: 45px;
  width: 200px;
  margin-left: 2rem;
  background-color: #eee;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}


.collection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  border-radius: 10px;
  height: 45px;
  width: 200px;
  gap: 1rem;
  font-size: 1.5rem;
}

.collection:hover {
  border-radius: 10px;
  height: 45px;
  width: 200px;
  margin-left: 1rem;
  background-color: #eee;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

hr {
  width: 220px;
  margin-left: 1rem;
  color: #f5f1f1;

}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  height: 45px;
  width: 200px;
  gap: 1rem;
  font-size: 1.5rem;
}

.play:hover {
  border-radius: 10px;
  height: 45px;
  width: 200px;
  padding-left: 1rem;
  background-color: #eee;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  border-radius: 10px;
  height: 45px;
  width: 200px;
  gap: 1rem;
  font-size: 1.5rem;
}

.arrow:hover {
  border-radius: 10px;
  height: 45px;
  width: 200px;
  padding-left: 1rem;
  background-color: #eee;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  border-radius: 10px;
  height: 45px;
  width: 200px;
  gap: 1rem;
  font-size: 1.5rem;
}

.play-btn:hover {
  border-radius: 10px;
  height: 45px;
  width: 200px;
  padding-left: 1rem;
  background-color: #eee;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  border-radius: 10px;
  height: 45px;
  width: 200px;
  gap: 1rem;
  font-size: 1.5rem;
}

.clock:hover {
  border-radius: 10px;
  height: 45px;
  width: 200px;
  margin-left: 1rem;
  background-color: #eee;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.hand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
  border-radius: 10px;
  height: 45px;
  width: 200px;
  gap: 1rem;
  font-size: 1.5rem;
}

.hand:hover {
  border-radius: 10px;
  height: 45px;
  width: 200px;
  padding-left: 1rem;
  background-color: #eee;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

 .button-container {
  display: flex;
  padding-left: 20rem;
  margin-top: -29rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  background-color: white;
  width: 500rem;
  
}

.button-container button{
  width: auto;
  border-radius: 0.5rem;
  margin: 0.3rem 0.3rem 0.3rem 0.3rem ;
  padding: 0.8rem;
  border: none;
  
} 

.button-container button:hover{
  background-color: rgb(227, 222, 222);
  cursor: pointer;
}
.image{
  display: block;
  height: 20rem;
  width: 20rem;
  gap: 2rem;
  padding-left: 1rem;
  
}

.first-image{
  display: flex;
  height: 20rem;
  width: 20rem;
  gap: 2rem;
  padding-left: 20rem;
  padding-top: 10rem;
  
}

.first-image:hover{
  cursor: pointer;
}

.second-image{
  display: flex;
  height: 20rem;
  width: 20rem;
  gap: 2rem;
  padding-left: 20rem;
  padding-top: 1rem;
  
}

.second-image:hover{
  cursor: pointer;
}

.third-image{
  display: flex;
  height: 20rem;
  width: 20rem;
  gap: 2rem;
  padding-left: 20rem;
  padding-top: 1rem;
  
}

.third-image:hover{
  cursor: pointer;
}
.fourth-image{
  display: flex;
  height: 20rem;
  width: 20rem;
  gap: 2rem;
  padding-left: 20rem;
  padding-top: 1rem;
  
}
.fifth-image{
  display: flex;
  height: 20rem;
  width: 20rem;
  gap: 2rem;
  padding-left: 20rem;
  padding-top: 1rem;
  
}
.sixth-image{
  display: flex;
  height: 20rem;
  width: 20rem;
  gap: 2rem;
  padding-left: 20rem;
  padding-top: 1rem;
  
}


